label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.form-contact h4 {
  margin-bottom: 25px;
  font-size: 1.3em;
}
.form-contact .form-group {
  width: 80%;
  padding: 10px;
}

.form-group input, .form-group textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  text-transform: capitalize;
}

.form-group button.submit {
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline:none;
  border: 1px solid rgb(38, 181, 128);
  color: rgb(38, 181, 128);
  text-transform: uppercase;
  cursor: pointer;
  transition: linear .3s all;
}
.form-group button.submit:hover {
  background-color: rgb(38, 181, 128);
  color:white;
}