<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Proyectos</title>

  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/projects.css">
</head>
<body>
  
<header>
    <nav class="navbar">
      <img src="../imgs/personal-img.jpg" alt="navbar-logo" class="navbar-logo">
      <h4 class="navbar-title">Pagina Personal</h4>
      <ul class="navbar-list">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="skills.html">Conocimientos</a></li>
        <li><a href="projects.html">Proyectos</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <section class="projects-section">
    <article class="panel">
      <div class="project-block">
        <h4>Monopoly Aseo urbano</h4>
        <p class="project-description">Juego desarrollado en Java SE con tematica de monopolio para la semana empresarial de Aseo Urbano 2016.</p>
        <ul>
          <li>Utilizacion de concurrencia (Threads) para mejorar la experiencia del jugador.</li>
          <li>Juego para maximo 4 personas.</li>
        </ul>
        <div class="project-img-panel">
          <a href="../imgs/monopoly2.png" target="_blank"><img src="../imgs/monopoly2.png" alt="" class="project-img"></a>
          <a href="../imgs/monopoly.jpeg" target="_blank"><img src="../imgs/monopoly.jpeg" alt="" class="project-img"></a>
        </div>
        <a href="https://github.com/julian21olarte/MonopolyAseoUrbano" class="project-link" target="_blank"><b>Enlace al proyecto</b></a>
      </div>
      <div class="project-block">
        <h4>SugarApp</h4>
        <p class="project-description">App movil hibrida desarrollada para la asignatura Seminario integrador 3 de la UFPS, enfocada en facilitar las tareas de los cañicultores.</p>
        <ul>
          <li>App desarrollada con tecnologias web (Ionic 3)</li>
          <li>Diversas funcionalidades relacionadas al clima y actividades del agricultor.</li>
          <li>Se implemento un backend como servicio con Firebase.</li>
        </ul>
        <div class="project-img-panel">
            <a href="../imgs/sugarApp1.jpeg" target="_blank"><img src="../imgs/sugarApp1.jpeg" alt="" class="project-img"></a>
            <a href="../imgs/sugarApp2.jpeg" target="_blank"><img src="../imgs/sugarApp2.jpeg" alt="" class="project-img"></a>
            <a href="../imgs/sugarApp3.jpeg" target="_blank"><img src="../imgs/sugarApp3.jpeg" alt="" class="project-img"></a>
            <a href="../imgs/sugarApp4.jpeg" target="_blank"><img src="../imgs/sugarApp4.jpeg" alt="" class="project-img"></a>
        </div>
        <a href="https://github.com/julian21olarte/SugarApp" class="project-link" target="_blank"><b>Enlace al proyecto</b></a>
      </div>
      <div class="project-block">
        <h4>Chat</h4>
        <p class="project-description">Aplicacion web desarrollada como proyecto personal.</p>
        <ul>
          <li>Capacidad de multiples usuarios en tiempo real gracias al uso de websockets.</li>
          <li>App desarrollada como SPA con tecnologias web como Angular 1.6 y Nodejs</li>
        </ul>
        <div class="project-img-panel">
          <a href="../imgs/chat.png" target="_blank"><img src="../imgs/chat.png" alt="" class="project-img"></a>
        </div>
        <a href="https://github.com/julian21olarte/chat-sockets" class="project-link" target="_blank"><b>Enlace al proyecto</b></a>
        <a href="https://chat-with-sockets.herokuapp.com" class="project-link" target="_blank"><b>Demo</b></a>
      </div>
      
    </article>
  </section>

  <footer>
    <ul class="footer-social">
      <li><a class="facebook" href="https://www.facebook.com/julian21olarte" target="_blank"><i class="icon-facebook-f"></i></a></li>
      <li><a class="twitter" href="https://twitter.com/julian21olarte?lang=es" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a class="github" href="https://github.com/julian21olarte" target="_blank"><i class="icon-github"></i></a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/julian-olarte-torres-b8527952/" target="_blank"><i class="icon-linkedin"></i></a></li>
    </ul>
    <h4 class="footer-copyright">Copyright 2018</h4>
</footer>


</body>
</html>