<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Conocimientos</title>

  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/skills.css">
</head>
<body>
  
  <header>
    <nav class="navbar">
      <h4 class="navbar-title">Pagina Personal</h4>
      <ul class="navbar-list">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="skills.html">Conocimientos</a></li>
        <li><a href="projects.html">Proyectos</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <!--Principal-->
  <section class="skills-section">
    <article class="panel">
      <div class="skills-column skills-tech">
          <h4 class="skills-title">Tecnologias</h4>

          <h5>HTML5</h5>
          <div class="skill-bar">
            <div class="skill-bar-color html"></div>
          </div>


          <h5>CSS</h5>
          <div class="skill-bar">
            <div class="skill-bar-color css"></div>
          </div>


          <h5>JS</h5>
          <div class="skill-bar">
            <div class="skill-bar-color js"></div>
          </div>


          <h5>JAVA SE/EE</h5>
          <div class="skill-bar">
            <div class="skill-bar-color java"></div>
          </div>


          <h5>PHP</h5>
          <div class="skill-bar">
            <div class="skill-bar-color php"></div>
          </div>


          <h5>NODEJS</h5>
          <div class="skill-bar">
            <div class="skill-bar-color node"></div>
          </div>


          <h5>SQL</h5>
          <div class="skill-bar">
            <div class="skill-bar-color sql"></div>
          </div>
        </div>



        <div class="skills-column skills-framework">
          <h4 class="skills-title">Frameworks</h4>

          <h5>ANGULAR</h5>
          <div class="skill-bar">
            <div class="skill-bar-color angular"></div>
          </div>


          <h5>CAKEPHP</h5>
          <div class="skill-bar">
            <div class="skill-bar-color cakephp"></div>
          </div>


          <h5>IONIC</h5>
          <div class="skill-bar">
            <div class="skill-bar-color ionic"></div>
          </div>


          <h5>SPRING</h5>
          <div class="skill-bar">
            <div class="skill-bar-color spring"></div>
          </div>


          <h5>BOOTSTRAP</h5>
          <div class="skill-bar">
            <div class="skill-bar-color bootstrap"></div>
          </div>


          <h5>JQUERY</h5>
            <div class="skill-bar">
              <div class="skill-bar-color jquery"></div>
            </div>
        </div>

      </article>
    </section>

  <footer>
      <ul class="footer-social">
        <li><a href="https://www.facebook.com/julian21olarte">facebook</a></li>
        <li><a href="https://twitter.com/julian21olarte?lang=es">Twitter</a></li>
      </ul>
      <h4 class="footer-copyright">Copyright 2018</h4>
  </footer>


</body>
</html>